* {
   padding: auto;
   margin: auto;
   box-sizing: border-box;
}
.form{
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: whitesmoke;
   }
.form>div{
   margin: 10px;
   display: block;
}
.form>div>input{
   width: 450px;
   height: 30px;
   margin: 10px 10px 10px 0;
}
.form input[type="text"] {
  margin: 0; 
  border: 1px solid grey;
  border-radius: 0.25rem;
 }
.form input[type="password"]{
   margin: 0; 
  border: 1px solid grey;
  border-radius: 0.25rem;

}
.form__btn button {
   height: 35px;
   color: white;
   border: 1px solid darkblue;
   background: steelblue;
   border-radius: 0.25rem;
 /*  background-color: lightsteelblue;
   border: none;*/
}

/*почему-то не срабатывает focus на рамке:(*/

input:focus{
   border: 2px solid blue;
   background-color: lightblue;
}
