* {
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 5px 0px 8px black;
	font-family: 'Josefin Sans', sans-serif;

}
.banner {
	background: url(../img/main-bg.jpg);
	height: 100vh;
	background-size: 100% 110%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.web__banner {
	margin-bottom: 20px;
	font-size: 25px;
}

.lorem {
	width: 700px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}

.buttom {
	display: block;
	width: 125px;
	height: 40px;
	font-size: 15px;
	background-color: black;
	border: none;
}

.buttom a{
	text-decoration: none;
}