*{
	margin: 0;
	padding: 0;
}
body{
	background: grey;
}

li{
	list-style: none;
	width: 200px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-top: 10px;
	box-shadow:
   	inset 0 0 1px rgba(140,150,170,.8),
   	0 0 1px rgb(86,96,106);
   	padding-left: 10px;
}

ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.menu{
	width: 250px;
	height: 310px;
	border: 1px solid black;
	background-color: #393535;
}

a{
	text-decoration: none;
	color: #8f8888;   
}

li:hover{
	cursor: pointer;
	color: whitesmoke;
	background-color: #1e1616;
	box-shadow:0 1px rgb(83,94,104),
   	0 0 1px rgb(86,96,106);
}
