*{
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.header{
	background: #493733;
	height: 55px;
	width: 50%;
	width: 1200px;
	display: flex;
	color: #c4bfbf;
	align-items: center;
	justify-content: space-around;
}

.header__menu{
	width: 60%;
	display: flex;
}

.header__menu>ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
li{
	border-right: 1px solid #c4bfbf3b ;
	height: 35px;
    width: 102px;
    display: flex;
	align-items: center;
  	justify-content: center
}

.header__customer{
	width: 40%;
	display: flex;
	justify-content: flex-end
}

.header__logIn, .header__register{
	width: 102px;
	height: 55px;
	display: flex;
	align-items: center;
  	justify-content: center
}

.header__language{
	width: 70px;
	height: 55px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 10px;
	margin-left: 50px
}

a{
	text-decoration: none;
	color: #c4bfbf;
}

i{
	width: 25px;
}
.fa-shoe-prints{
	transform: rotate(270deg);
}

.header__menu a:hover{
	color: greenyellow;
}

.header__customer a:hover{
	text-decoration: underline dotted;
}